[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-matrix-screensaver"]
	path = bundle/vim-matrix-screensaver
	url = git@github.com:uguu-org/vim-matrix-screensaver.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/tlib_vim"]
    path = bundle/tlib_vim
    url = git@github.com:tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
    path = bundle/vim-addon-mw-utils
    url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-easymotion"]
    path = bundle/vim-easymotion
    url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "bundle/vim-snipmate"]
    path = bundle/vim-snipmate
    url = git@github.com:garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
    path = bundle/vim-snippets
    url = git@github.com:honza/vim-snippets.git

